.header-info {
  display: flex;
  flex-direction: column;
  border: dashed 1px grey;
  margin-bottom: 1rem;
}
.italic {
  font-style: italic;  
}
.filter-header > input {
  width: calc(100% - 20px);
  height: 1.5rem;
  box-shadow: none;
  border: 1px solid #CCC;
  margin: 5px;
}
div.filter-header {
  border-top: 1px solid #CCC;
}
.hot-app {
  overflow: hidden;
}